* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background: linear-gradient(to right, #3eadcf, #abe9cd);
}
.container {
  width: 600px;
  height: 300px;
  margin: 8% auto;
  background: white;
  border-radius: 5px;
  position: relative;
}
.info-box {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #777777;
  position: relative;
}
.info {
  width: 540px;
  padding: 0 30px;
  text-align: center;
  color: #555555;
  font-size: 14px;
  font-weight: 200;
  position: relative;
}
.question p {
  text-align: center;
  min-height: 40px;
  margin: 20px 0;
  color: #777777;
  font-weight: 300;
  font-size: 18px;
}
.selection {
  text-align: center;
}
.fa-star {
  font-size: 40px;
  margin: 0 5px;
  color: #f2f2f2;
  cursor: pointer;
  transition: 0.2s;
}
.button-box {
  width: 100%;
  margin: 30px auto;
  margin-top: 40px;
  text-align: center;
}
button {
  width: 200px;
  height: 35px;
  margin: 0 10px;
  background: linear-gradient(to right, #3eadcf, #abe9cd);
  border-radius: 30px;
  border: 0;
  outline: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  color: #abe9cd;
}
.progress {
  margin-bottom: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 200;
  color: #555555;
}

form {
  display: none;
}
#form1 {
  display: block;
}
#valueP {
  color: #f2f2f2;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
}
